body {
  margin: 0;
  padding: 0;
}
#map_box {
  position: relative;
  width: 100%;
  height: 400px;
}
#geocoder_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#geocoder_container > div {
  min-width: 50%;
  margin-left: 25%;
  margin-top: 6px;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
ul > li {
  float: left;
  margin-right: 1em;
}
.my-popup p,
.my-popup div {
  margin: 0px;
  padding: 0px;
}
