body {
    margin: 0;
    padding: 0;
}

#map_box {
    // position: absolute;
    position: relative;
    // top: 0;
    // bottom: 0;
    width: 100%;
    // width: 600px;
    height: 400px;
}

#geocoder_container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    &>div{
        min-width: 50%;
        margin-left: 25%;
        margin-top: 6px;
    }
}

ul{
    list-style-type: none;
    overflow: hidden;
    &>li{
        float: left;
        margin-right: 1em;
    }
}

.my-popup{
    p, div{
        margin: 0px;
        padding: 0px;
    }
}