<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.1.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" href="styles/css/style.css">
</head>
<body>

<div id='map_box'></div>
<div id="geocoder_container"></div>
<div id="vue">
    <ul>
        <li v-for="feature in features">
            <button v-on:click="changeLocation(feature)">
                {{feature.properties.name}}
            </button>
        </li>
    </ul>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.1.0/mapbox-gl-geocoder.js'></script>
<script src="js/vue.min.js"></script>
<script src="js/my_mapbox.js"></script>

</body>
</html>
